<footer id="footer">
    <div id="social-media">
      <ul style="padding: 0">
        <li>
          <a href="https://www.facebook.com/groups/HackSocGameDev/">
            <img src="/images/social-media/facebook.svg" alt="Facebook">
          </a>
        </li>
        <li>
          <a href="https://github.com/gamedev-manchester">
            <img src="/images/social-media/github.svg" alt="GitHub">
          </a>
        </li>
      </ul>
    </div>
    <% if (!locals.user) { %>
      <% include ./cookieDisclaimer.ejs %>
    <% } %>
  </footer>