<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head.ejs %>
  <title>Sponsors | UoM Gamdev</title>
  <link rel="stylesheet" type="text/css" href="/css/sponsors.css" />
</head>

<body>
  <div id="container">
    <% include ../partials/navbar.ejs %>
    <% include ../partials/header.ejs %>
    <div id="body">
      <section id="s</div>ponsors">
        <h1>Our Sponsors</h1>
        <br>
        <br>
        <div class="container">
          <div id="" class="row justify-content-center top-buffer-20">
            

            <div class="col-md-5">
              <div class="row sponsor-header" onclick="redirectToSponsor('https://www.yoyogames.com/')">
                <img id="yoyo-logo" class="sponsor-img" src="images/sponsors/yoyo_logo_1.png" alt="yoyo">
              </div>
            </div>

            <div class="col-md-5">
              <div class="row sponsor-header" onclick="redirectToSponsor('https://www.brightec.co.uk')">
                <img id="brightec-logo" class="sponsor-img" src="images/sponsors/brightec_logo_2018_dark.svg" alt="brightec"/>
              </div>
            </div>

            <div class="col-md-5">
              <div class="row sponsor-header" onclick="redirectToSponsor('https://www.epicgames.com/')">
                <img id="epic-logo" class="sponsor-img" src="images/sponsors/Epic_Games_logo.svg" alt="epic"/>
              </div>
            </div>
                        
          </div>
        </div>
      </section>
    </div>
    <% include ../partials/footer.ejs %>
  </div>
</body>
<script>
  function redirectToSponsor(sponsorLink) {
    window.open(sponsorLink, '_blank');
  }
</script>

</html>